---
import { Image } from "astro:assets";
import serviceBanner from "../../assets/media/bg-service.svg";
import "../../assets/css/component/Services/ServicesLanding/ServicesLanding.scss";

const { description } = Astro.props;
---

<section class="about_landing_sec sec_pt sec_pb">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 col-12 mx-auto">
        <div class="about_landing_content_wrapper text-center">
          <div class="about_landing-img">
            <Image src={serviceBanner} alt="" class="img-fluid" />
          </div>
          <h1 class="big_heading mb-3">
            Wide range <span class="highlighted-text">IT, QA </span>and
            <br />
            <span class="highlighted-text">R&D </span>Services
          </h1>
          <div class="about_landing-desc">
            <p>{description}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
