---
import TabsTab_Bootstrap from "../TabsTab_Bootstrap";
const { title } = Astro.props;
---

<section class="technology">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="technology__heading">
          <div class="heading_wrapper">
            <h2 class="sec_heading sec_heading-medium with_border">
              {title}
            </h2>
          </div>
        </div>
        <div class="technology__tab-list">
         <TabsTab_Bootstrap  client:only="react"/>
        </div>
      </div>
    </div>
  </div>
</section>
