.contact {
  padding: 80px 0;
}
@media (max-width: 991px) {
  .contact {
    padding: 50px 0;
  }
}
.contact .heading-wrapper {
  margin-bottom: 40px;
}
@media only screen and (max-width: 767px) {
  .contact .heading-wrapper {
    margin-bottom: 30px;
    text-align: center;
  }
}
.contact .infobar {
  border-radius: 5px;
  margin-bottom: 20px;
}
.contact .infobar.success {
  background: #effff7;
  box-shadow: 0 0 10px #29d88533;
}
.contact .infobar.success .icon {
  background-color: #29d885;
}
.contact .infobar.error {
  background: #ffbaba;
  box-shadow: 0 0 10px #ffbaba33;
}
.contact .infobar.error .icon {
  background-color: #ff8080;
}
.contact .infobar .msg {
  align-items: center;
  display: flex;
}
.contact .infobar .icon {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  line-height: 1;
  margin-right: 15px;
  padding: 15px;
}
.contact .infobar .icon .icon-img {
  height: 36px;
  width: 36px;
}
.contact .infobar span {
  font-family: Poppins, sans-serif;
  font-weight: 600;
}
.contact__img img {
  width: 85%;
}
@media (max-width: 991px) {
  .contact__img img {
    margin-bottom: 30px;
    width: 100%;
  }
}
.contact-map-row {
  margin-top: 80px;
}
@media only screen and (max-width: 991px) {
  .contact-map-row {
    margin-top: 50px;
  }
}
.contact-map-row iframe {
  height: 450px;
  width: 100%;
}
.form {
  margin-bottom: 20px;
}
.form .recaptch-box {
  margin-bottom: 8px;
}
@media only screen and (max-width: 767px) {
  .form .recaptch-box {
    margin-bottom: 20px;
  }
}
.form .form-row {
  margin-bottom: 10px;
}
@media only screen and (max-width: 767px) {
  .form .form-row {
    margin-bottom: 0;
  }
}
.form .form-row:last-child {
  margin-bottom: 0;
}
.form .form-input {
  border: 1px solid #b2bbbb;
  border-radius: 0.25rem;
  color: #000;
  font-size: 18px;
  height: 55px;
  margin-bottom: 8px;
  padding: 12px 25px;
  transition: all 0.35s ease-in-out;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .form .form-input {
    height: 55px;
    margin-bottom: 20px;
    padding: 10px 25px;
  }
}
.form .form-input::placeholder {
  color: #000;
}
.form .form-input:focus {
  border: 1px solid #000;
  outline: none;
}
.form .form-select {
  border: 1px solid #b2bbbb;
  color: #000;
  font-size: 18px;
  height: 55px;
  margin-bottom: 8px;
  padding: 12px 25px;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .form .form-select {
    height: 55px;
    margin-bottom: 20px;
    padding: 10px 25px;
  }
}
.form .form-select option {
  color: #000;
}
.form .form-select:focus {
  border: 1px solid #000;
  box-shadow: none;
  outline: none;
}
.form .form-textarea {
  border: 1px solid #b2bbbb;
  border-radius: 0.25rem;
  color: #1a1b25;
  font-size: 18px;
  margin-bottom: 8px;
  padding: 12px 25px;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .form .form-textarea {
    margin-bottom: 20px;
    padding: 10px 25px;
  }
}
.form .form-textarea::placeholder {
  color: #000;
}
.form .form-textarea:focus {
  border: 1px solid #000;
  outline: none;
}
/*# sourceMappingURL=338.2b75bddb.chunk.css.map*/
