// font-family: 'Lato', sans-serif;
// font-family: 'Poppins', sans-serif;

$dark_primary_color: #1a1b25;
$dark_color_shade: #0b132a;
$primary_color: #6371f0;
$primary_color_new: #6a77f1;
$primary_color_contrace: #ffffff;
$secondary_color: #fd8061;
$secondary_color-light: #fff7f5;
$third_color: #00b8c8;
$fourth_color: #095256;
$fifth-color: #f9f9f9;
$lighter_color: #c4c4c4;
$lighter_color-2: #bcbcbc;
$text_color: #4f5665;
$dark_color: #000000;
$dark_color-tertiary: #333;
$dark-color-secondary: #444546;
$dark-color-primary: #3d3b3b;
$light_color: #ffffff;
$light-color-primary: #f1f1f1;
$light-color-secondary: #bfbebe;
$ligth-color-teritory: #959191;
$light-color-100: #f8f8f8;
$light-color-200: #a5abb3;
$light_green_color: #56d7e1;
$light_bg_color: #f7fafa;

$color-yellow: #caa111;
$color-green: #0e8221;
$color-green-light: #58b242;
$color-blue-100: #398789;
$color-blue-200: #625ca3;
$color-blue-300: #11a2ca;
$color-blue-400: #0069b4;
$color-pink-100: #a64f6a;
$color-pink-200: #916095;

$box-shadow-light: 0px 20px 80px 0px rgba(0, 0, 0, 0.08),
  0px -10px 50px 0px rgba(0, 0, 0, 0.1);

$theme_font: "Poppins", sans-serif;
$primary-font: "Lato", sans-serif;
