@import "../../../variable";
@import "../../../mixin";

.service-list {
  position: relative;
  padding: 45px 0 0 0;
  @include media1199 {
    padding-top: 35px;
  }
  @include media991to768 {
    padding: 30px 0 30px 0;
  }
  @include media767 {
    padding: 15px 0 0 0;
  }
  // &::after {
  //     position: absolute;
  //     content: "";
  //     left: 0;
  //     right: 0;
  //     top: 0;
  //     height: 120px;
  //     background-image: url('../../../../public/images/gradian-border.jpg');
  //     z-index: -1;
  //     background-repeat: no-repeat;
  //     background-position: center center;
  // }
  .service-row {
    padding: 50px 0;
    @include media1199 {
      padding: 40px 0;
    }
    @include media991to768 {
      padding: 25px 0 40px 0;
    }
    @include media767 {
      padding: 15px 0 30px 0;
    }
  }
  .service-image-box {
    @include media992-min {
      padding-right: 25px;
    }
    @include media991 {
      margin-bottom: 30px;
    }

    figure {
      position: relative;
      text-align: center;
    }

    img {
      position: initial;
    }
  }
  .service-content-box {
    @include media992-min {
      padding-left: 25px;
    }
    @include media767 {
      text-align: center;
    }
    h4 {
      font-size: 36px;
      font-weight: bold;
      line-height: 1.2em;
      margin-bottom: 15px;
      color: $dark_color_shade;
      font-family: $theme_font;
      @include media1199 {
        font-size: 30px;
      }
      @include media991to768 {
        font-size: 30px;
      }
      @include media767 {
        font-size: 24px;
      }
    }
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 20px;
      @include media1199 {
        font-size: 16px;
      }
      @include media991to768 {
        margin-bottom: 25px;
      }
      @include media767 {
        margin-bottom: 15px;
      }
    }

    .technology__icons {
      margin-top: 0;
      max-width: 500px;
      flex-wrap: wrap;
      li {
        margin-bottom: 10px;
      }
      @include media767 {
        margin-top: 30px;
        justify-content: center;
      }
    }
    .btn-wrapper {
      margin-top: 35px;
    }
  }

  .service-list-wrapper {
    &:nth-child(odd) {
      background: linear-gradient(
        260.45deg,
        rgba(255, 247, 245, 0.35) 0.47%,
        rgba(255, 243, 240, 0.2) 54.7%,
        rgba(255, 235, 230, 0) 100.8%
      );
    }

    &:nth-child(even) {
      .service-row {
        flex-direction: row-reverse;

        @include media992-min {
          .service-image-box {
            padding-right: 15px;
            padding-left: 30px;
          }

          .service-content-box {
            padding-left: 15px;
            padding-right: 30px;
          }
        }
      }
    }
  }
}
