---
import "../../assets/css/component/About/WhoWeAre/WhoWeAre.scss";
import ModalVideo1 from "../ModalVideo1";

const { title, description } = Astro.props;
---

<section class="who_we_are_sec sec_pt">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-8 col-12 mx-auto">
        <div class="who_we_are_content_wrapper px-lg-4">
          <div class="heading_wrapper text-center mb-4">
            <h2 class="big_heading">{title}</h2>
          </div>
          <div class="who_we_are_desc text-center mb-4 mb-lg-5">
            <p>{description}</p>
          </div>
          <ModalVideo1 client:only="react" />
        </div>
      </div>
    </div>
  </div>
</section>
