---
import TabsBootstrap from "../TabsBootstrap";
import whatWeOfferData from "../ComponentAPI/whatWeOfferAPI";
import SetInnerHTML from "../SetInnerHTML";
// import "./WhatWeOffer.scss";
const { title } = Astro.props;
---

<section class="what_we_offer_sec sec_pt sec_pb gradient_bg">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-12">
        <div class="heading_wrapper mb-5 mb-md-0">
          <h2 class="sec_heading sec_heading-medium with_border">
            <SetInnerHTML data={title} />
          </h2>
        </div>
      </div>
      <div class="col-md-8 col-12">
        <div class="what_we_offer_content_wrapper">
          <TabsBootstrap client:only="react" data={whatWeOfferData} />
        </div>
      </div>
    </div>
  </div>
</section>
