@import "../../../variable";
@import "../../../mixin";

.about_landing_sec {
  @include media991to768 {
    padding-top: 10px;
  }
  .about_landing-desc {
    color: $dark_primary_color;

    p {
      @include media1400-min {
        font-size: 17px;
      }
    }
  }

  .big_heading {
    @include media1400-min {
      font-size: 40px;
    }
    br {
      @include media767 {
        display: none;
      }
    }
  }
}
