---
import SliderAstro2 from "../SliderAstro2";

// import Slider from "react-slick";
// import awardsAndAchievementsData from "../ComponentAPI/awardsAndAchievementsAPI";
// import "./AwardsAchievements.scss";

const { title } = Astro.props;
---

<section class="words_from_client_sec sec_pb award-view mb-5">
  <div class="container">
    <h2 class="sec_heading sec_heading-medium with_border">
      {title}
    </h2>
    <div class="mt-5 pt-5">
     <SliderAstro2 client:only="react"/>
    </div>
  </div>
</section>
