@import "../../../variable";
@import "../../../mixin";

.in_our_ethics_sec {
  .in_our_ethics_block {
    margin-bottom: 40px;
    @include media991 {
      margin-bottom: 30px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .heading_wrapper {
    top: 150px;
    position: sticky;
    @include media1199 {
      top: 120px;
    }
    @include media767 {
      margin-bottom: 50px;
    }
    .sec_heading {
      br {
        @include media767 {
          display: none;
        }
      }
    }
  }
}
