---
import SetInnerHTML from "../SetInnerHTML";
import SliderAstro1 from "../SliderAstro1";

const { title, secBg, isTopPadding } = Astro.props;
const secClassNames = secBg
  ? `${"words_from_client_sec sec_pt sec_pb ".concat(secBg)}`
  : `words_from_client_sec ${!isTopPadding ? "" : "sec_pt"} sec_pb `;
---

<section class={secClassNames}>
  <div class="container">
    <div class="heading_wrapper mb-5">
      <h2 class="sec_heading sec_heading-medium with_border">
        <SetInnerHTML data={title} />
      </h2>
    </div>
  </div>

  <div class="words_from_client_slider_wrapper">
    <SliderAstro1 client:only="react" />
  </div>
</section>
