---
// import Slider from "react-slick";
import clientLogoData from "../ComponentAPI/clientLogosAPI";
// import "./ClientLogos.scss";

var sliderSettings = {
  class: "client-logos__slider",
  centerMode: true,
  infinite: true,
  centerPadding: "0",
  slidesToShow: 7,
  autoplay: true,
  touchThreshold: 30,
  autoplaySpeed: 3000,
  speed: 2000,
  rows: 2,
  slidesPerRow: 1,
  responsive: [
    {
      breakpoint: 1600,
      settings: {
        slidesToShow: 6,
      },
    },
    {
      breakpoint: 992,
      settings: {
        slidesToShow: 4,
      },
    },
    {
      breakpoint: 575,
      settings: {
        slidesToShow: 2,
        centerPadding: "30",
        centerMode: true,
      },
    },
  ],
};
const { title } = Astro.props;
---

<section class="client-logos pt-0">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading_wrapper">
          <h2 class="sec_heading sec_heading-medium with_border">
            {title}
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <!-- <Slider {...sliderSettings}>
      {
        clientLogoData.map((val, index) => {
          return (
            <div class="client-logo__item" key={index}>
              <img src={val.image} class="img-fluid" alt="" loading="lazy" />
            </div>
          );
        })
      }
    </Slider> -->
  </div>
</section>
