@import "../../../variable";
@import "../../../mixin";

.about_images_sec {
  padding: 10px 0 20px;
  @include media767 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .about_images_row-margin {
    margin: 0 -8px;
    @media (max-width: 767px) {
      margin: 0 -5px;
    }
  }
  .about_images_col-padding {
    padding: 0 8px;
    @media (max-width: 767px) {
      padding: 0 5px;
    }
  }
  .about_images_row {
    display: flex;
    flex-wrap: wrap;
    .about_images_col {
      &:first-child,
      &:nth-child(3) {
        width: 30%;
        @media (max-width: 767px) {
          width: 100%;
        }
      }
      &:nth-child(2) {
        width: 40%;
        @media (max-width: 767px) {
          width: 100%;
        }
      }
    }
  }
  .about_img_block {
    @media (max-width: 767px) {
      margin-bottom: 10px;
    }

    .about_img {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 10px;
    }
    &.about_img_block-3 {
      height: 100%;
      @media (max-width: 767px) {
        height: auto;
      }
      .about_img {
        padding-top: 95%;
        height: 100%;
      }
    }
    &.about_img_block-1 {
      .about_img {
        padding-top: 75%;
      }
    }
    &.about_img_block-2 {
      .about_img {
        padding-top: 55%;
      }
    }
    &.about_img_block-4 {
      .about_img {
        padding-top: 65%;
      }
    }
    &.about_img_block-5 {
      .about_img {
        padding-top: 65%;
        object-position: right;
        background-position: right;
      }
    }
  }
}
